// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$medium-gray: #858789;

//Custom colors for the lemonade stand
$light-gray: #F9F9F9; //Updated the defrault light gray color to lemonade stand's light gray color
$primary-yellow: #E2AB2D;
$secondary-yellow: #F8EFE0;
$primary-blue: #3048EA;
$secondary-blue: #9596FF;
