<div class="bottom-navbar" data-controller="bottom-navbar">
  <ul>
    <li data-bottom-navbar-value="0" data-bottom-navbar-target="links"><i class="fa-solid fa-house"></i></li>
    <li data-bottom-navbar-value="1" data-bottom-navbar-target="links"><i class="fa-solid fa-pencil"></i></li>
    <li data-bottom-navbar-value="2" data-bottom-navbar-target="links"><i class="fa-solid fa-plus"></i></li>
    <li data-bottom-navbar-value="3" data-bottom-navbar-target="links"><i class="fa-solid fa-money-bill-transfer"></i></li>
    <li data-bottom-navbar-value="4" data-bottom-navbar-target="links"><i class="fa-solid fa-chart-pie"></i></li>
    <div id="circle" data-bottom-navbar-target="circle"><i class="fa-solid fa-plus"></i></div>
  </ul>
</div>
