<div data-controller="cart">
  <div data-cart-target="showProductOrder">
    <div id="show_order">
      <div class="modal fade slide-up-modal fixed-footer-modal" id="CartModal" tabindex="-1" aria-labelledby="CartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slide-up modal-dialog-bottom fixed-footer-dialog">
          <div class="modal-content fixed-footer-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="CartModalLabel">Cart Overview</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fixed-footer-body">
              <%= render "orders/show_order", order: order %>
            </div>
            <div class="fixed-footer">
              <div class="d-flex justify-content-center">
                <%= link_to "Confirm Order", order_path(order), class:"btn btn-primary my-2", style:"color:white" %>
              </div>
            </div>
            <div class="modal-footer">
              <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
