<div class="modal fade slide-up-modal" id="CartModal" tabindex="-1" aria-labelledby="CartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slide-up">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CartModalLabel">Edit Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "orders/order_list", order: @order %>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
      </div>
    </div>
  </div>
</div>
