<div class="order-products-line row justify-content-center">
  <% order.order_products.each do |order_product| %>
    <div class="order-products row justify-content-center">
      <p class="col-3"><%= order_product.product.name %></p>
      <div class="col-4">
        <div class="product-quantity d-flex justify-content-evenly align-items-center">
          <i class="fa-regular fa-square-minus"></i>
          <p class="text-center mb-0"><%= order_product.product_quantity %></p>
          <i class="fa-regular fa-square-plus"></i>
        </div>
      </div>
      <p class="col-3 text-end"><%= order_product.product_price_at_sale * order_product.product_quantity %></p>
    </div>
  <% end %>
</div>
