<div class="order-products-line row justify-content-center">
  <% order.order_products.each do |order_product| %>
    <div class="order-products row justify-content-center">
      <p class="col-3"><%= order_product.product.name %></p>
      <p class="col-3">X <%= order_product.product_quantity %></p>
      <p class="col-3 text-end"><%= order_product.product_price_at_sale * order_product.product_quantity %></p>
    </div>
  <% end %>
</div>
