<h1 class="text-center">Confirm Order</h1>
<div class="orders">
  <%= render "order_list", order: @order %>
  <%# calculate subtotal of current order %>
  <div class="order-total row justify-content-center">
    <h3 class="col-3">Subtotal</h3>
    <h3 class="col-6 text-end"><%= @order_subtotal %></h3>
  </div>
  <%= simple_form_for(@order) do |f| %>
    <%= f.submit "Checkout" %>
  <% end %>
</div>
