<%= render 'shared/flashes' %>
<%= render "form" %>
<%= render "show_order" %>
<% if @order.order_products.count > 0 %>
  <div class="d-flex justify-content-center">
    <%= link_to "Confirm Order", order_path(@order), class:"btn btn-primary" %>
  </div>
<% end %>
