.bottom-navbar {
  background-color: white;
  margin: auto;
  position: fixed;
  bottom: 0vh;
  width: 100%;
  height: 60px;
}

.bottom-navbar ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  padding-left: 0;
  margin-left: 0;
  justify-content: space-around;
}

.bottom-navbar ul li {
  width: 72px;
  height: 60px;
  color: black;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-align: center;
}

.bottom-navbar ul li  {
  width: 72px;
  height: 60px;
  color: black;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-align: center;
}


#circle {
  position: absolute;
  width: 65px;
  height: 65px;
  background: $primary-yellow;
  border-radius: 50%;
  top: -20px;
  left: 165px;
  border: 2px solid white;
  transform: scale(1.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: left 0.8s;
}

#circle .fa-plus {
  font-size: 22px;
}

.bottom-navbar ul li[value="2"]{
  opacity: 0;
  font-size: 26px;
}

#circle i {
  animation: 0.5s moveup linear forwards;
}

@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
