.left-button {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -16px;
  margin-top: -21px

}

.right-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -16px;
  margin-top: -21px
}

.btn-ghost {
    color: #ffffff;
  background-color: #858789;
  border: 1px solid #6c757d;
  padding: 4px;
  border-radius: 50%;
  font-weight: bold;
  opacity: 1.0;
  font-size: medium;
  transition: opacity 0.3s ease;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost i {
  font-size: 1.5em;
}

 .btn-stretch {
      width: 200px;
    }

  .centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;

}

.btn-outline-warning {
  color: #f0e68c;
  border-color: #f0e68c;
  background-color: $primary-yellow;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 250px;
  border-radius: 12px;
}

.btn-outline-warning:hover {
  background-color: #f0e68c;
  color: #fff;
  border-color: #f0e68c;
}

.btn-outline-warning .fa-cart-shopping {
  font-size: 1.5em;
  color: #f0e68c; /* Ensure the initial color is set */
}

.btn-outline-warning:hover .fa-cart-shopping {
  color: #fff;
}

.sticky-bottom {
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
  z-index: 1030;
  padding: 10px;
  // background-color: white;
}

.background-color-secondary-yellow {
  background-color: $primary-yellow;
}

// Products page button

.card-edit {
  position: absolute;
  top: -10px;
  right: -10px;

}

.btn-edit {
  font-size: 16px;
  background-color: $medium-gray;
  border-radius: 50%;
  padding: 8px;
  border-color: transparent;
  background-color: #858789;
}

.card-create-product {
  display: inline-block;
  border-radius: 5px;
  background-color: $primary-yellow;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 35%;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  padding-top: 8px;
}

.card-create {
  position: fixed;
  bottom: 7vh;
  padding: 0;
  margin: 1px;
  right: 0;
}


.plus-btn-create {
  font-size: 300%;
  color: $primary-yellow;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.fixed-button {
  position: fixed;
  bottom: 90px;
  right: 20px;
}

.btn-round {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-round i {
  font-size: 24px;
}

abbr[title="required"] {
  display: none;
}
