// product-card
.card-edit {
  position: absolute;
  top: -10px;
  right: -10px;
}

.btn-edit {
  font-size: 16px;
  background-color: $medium-gray;
  border-radius: 50%;
  padding: 8px;
}

.card-create {
  position: fixed;
  top: 79%;
  right: 2%;
}

.btn-create {
  font-size: 900%;
  border-color: transparent;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 40px;
  padding: 0 40px;
  border-radius: 5px;
}

.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip > img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.card-trip-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.card-trip h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 9px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-trip-infos .card-infos-left {
  text-align: start;
}

.card-trip-infos .card-infos-right {
  text-align: end;
  width: 30px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.product-quantity {
  justify-content: space-between;
  text-align: center;
  align-items: end;
}

.card-trip-info-details {
  justify-content: space-between;
  text-align: center;
  align-items: end;
}

.no-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
