// product-card

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 40px;
  padding: 0 40px;
  border-radius: 5px;
  padding-bottom: 50px;
}

.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-trip:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.card-trip > img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.card-trip-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%
}

.card-trip h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 9px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-trip-infos .card-infos-left {
  text-align: start;
}

.card-trip-infos .card-infos-right {
  text-align: end;
  width: 30px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.product-quantity {
  justify-content: space-between;
  text-align: center;
  align-items: end;
}

.card-trip-info-details {
  justify-content: space-between;
  text-align: center;
  align-items: end;
}

.no-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.no-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.no-event-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// Different screen size design
@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Style for the Card product Le Wagon UI Element

.card-product {
  border-radius: 10px;
  overflow: visible;
  height: 280px;
  width: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  margin-bottom: 30px;
}

.card-product-event {
  border-radius: 10px;
  overflow: visible;
  height: 130px;
  width: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  margin-bottom: 30px;
}

.card-product img {
  height: auto;
  width: 130px;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  align-items: center;
}

.image-container {
  position: relative;
  display: inline-block;

}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: rgba(133, 135, 137, 0.2);
  padding: 8px;
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.cart-icon:hover {
  background-color: rgba(255, 223, 0, 0.8);
  transform: scale(1.1);
}

.cart-icon-color {
  color: #FFF375;
  margin-left: 4px;
}
