// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "button";
@import "modal-bottom";
@import "switch-btn";
@import "table";
@import "landing-background";
@import "dashboard_cards";
@import "bottom-navbar";
@import "rows";
@import "products";
