/* Custom Modal Classes */
.slide-up-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
  height: auto;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.slide-up-modal.show .modal-dialog {
  transform: translateY(0);
}

.slide-up-modal .modal-content {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  margin: 0;
  height: auto;
  overflow-y: auto;
}

.slide-up-modal .modal-header,
.slide-up-modal .modal-footer {
  flex-shrink: 0;
}

.slide-up-modal .modal-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.modal-dialog-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  max-width: none;
  width: 100%;
  transition: transform 0.3s ease-out;
}

.modal.fade .modal-dialog-bottom {
  transform: translateY(100%);
}

.modal.fade.show .modal-dialog-bottom {
  transform: translateY(0);
}

.modal {
  padding: 0;
}

.slide-up-modal .modal-footer {
  margin-bottom: 0;
  padding-bottom: 0;
}
