.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  height: 70px;
  flex-shrink: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .border-bottom {
  border-bottom: 0.5px solid grey;
}
