.switch-button {
  display: inline-block;
  border-radius: 4px;
  background-color: $primary-yellow;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.switch-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.switch-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.switch-button:hover span {
  padding-right: 25px;
}

.switch-button:hover span:after {
  opacity: 1;
  right: 0;
}
