/* From Uiverse.io by barisdogansutcu */
button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: $primary-blue;
  border: solid 4px $primary-yellow;
  font-family: inherit;
 }

 .default-btn,.hover-btn {
  background-color: $primary-blue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
 }

 .hover-btn {
  position: absolute;
  inset: 0;
  background-color: $primary-blue;
  transform: translate(0%,100%);
 }

 .default-btn span {
  color: white;
 }

 .hover-btn span {
  color: $primary-yellow;
 }

 button:hover .default-btn {
  transform: translate(0%,-100%);
 }

 button:hover .hover-btn {
  transform: translate(0%,0%);
 }
