<div class="bg-white position-relative" data-controller="product-modal">
  <div class="text-center my-3">
    <h2>Click + to Create Product</h2>
  </div>
  <!-- product cards -->
  <% if Product.any? %>
    <!-- cards display -->
    <div class="cards mt-5">
      <%= render 'product_cards', products: @products %>
    </div>
  <% else %>
    <div class="no-product-container">
      <p class="no-product">There are no products yet. Let's create one! </p>
    </div>
  <% end %>
    <div class="card-create">
      <button type="button" class="fa-solid fa-circle-plus plus-btn-create" data-bs-toggle="modal" data-bs-target="#CreateProductModal"></button>
    </div>
    <%= render 'shared/modal' %>
</div>
