<div class="bg-white position-relative" data-controller="product-modal">
  <div class="text-center my-2">
    <h2><strong>Setup Your Stand</strong></h2>
  </div>
  <!-- product cards -->
  <% if Product.any? %>
    <!-- selling mode button -->
    <div class="d-flex justify-content-end mx-4 mb-3">
      <div class="card-create-product me-2">
        <button type="button" class="plus-btn-create" style="color: #fff" data-bs-toggle="modal" data-bs-target="#CreateProductModal">Add Product</button>
      </div>
      <%= link_to edit_order_path(@order), class:"text-decoration-none" do %>
        <button class="switch-button" style="vertical-align:middle"><span> Sell Now! </span></button>
      <% end %>
    </div>
    <!-- cards display -->
    <div class="cards">
      <%= render 'product_cards', products: @products %>
    </div>
  <% else %>
    <div class="no-product-container">
      <p class="no-product">There are no products yet. Let's create one! </p>
    </div>
  <% end %>
    <%= render 'shared/modal' %>
</div>
