<div class="bg-white position-relative" data-controller="product-modal">
  <div class="text-center my-2">
    <h2><strong>Setup Your Stand</strong></h2>
  </div>
  <!-- product cards -->
  <% if Product.any? %>
    <!-- selling mode button -->
    <div class="d-flex flex-row-reverse me-3 mb-3">
      <%= link_to edit_order_path(@order), class:"text-decoration-none" do %>
        <button class="switch-button" style="vertical-align:middle"><span> Sell Now! </span></button>
      <% end %>
    </div>
    <!-- cards display -->
    <div class="cards">
      <%= render 'product_cards', products: @products %>
    </div>
  <% else %>
    <div class="no-product-container">
      <p class="no-product">There are no products yet. Let's create one! </p>
    </div>
  <% end %>
    <!-- create button -->
    <div class="card-create">
      <button type="button" class="fa-solid fa-circle-plus plus-btn-create" style="color: #E2AB2D" data-bs-toggle="modal" data-bs-target="#CreateProductModal">
      </button>
      <!-- Modal -->
      <%# Model End %>
    </div>
    <%= render 'shared/modal' %>
  </div>
